#include <windows.h>
#include <commctrl.h>
#include "resource.h"

1 24 "manifest.xml"

IDI_ICON ICON "SDICON64.ico"

DIALOG_MAIN DIALOGEX 0, 0, 210, 85
CAPTION "sdFormatWindows v0.2.0-win3"
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 9, "Segoe UI", 400, 0, 1
{
    CONTROL
        "<a href=""https://www.flashcarts.net/sdformatwindows.html"">https://www.flashcarts.net/sdformatwindows.html</a>",
        IDC_STATIC_LINK,
        "SysLink",
        WS_CHILD | WS_VISIBLE | WS_TABSTOP,
        10, 5, 190, 12

    LTEXT "Select drive", IDC_STATIC_DRIVESELECT, 10, 22, 39, 12
    COMBOBOX IDC_DRIVELIST, 50, 20, 23, 12, CBS_DROPDOWNLIST | WS_VSCROLL
    PUSHBUTTON "Refresh", IDC_BUTTON_REFERSH_DRIVES, 80, 20, 39, 12
    CHECKBOX "Format as FAT32 (SDXC cards only)", IDC_CHECKBOX_FORCEFAT32, 10, 35, 120, 12, BS_AUTOCHECKBOX
    CHECKBOX "Force 32KiB cluster size (only for DS/DSi with SDXC cards)", IDC_CHECKBOX_FORCE32KIB, 10, 50, 190, 12, BS_AUTOCHECKBOX
    PUSHBUTTON "Format", IDC_BUTTON_START, 10, 65, 50, 14
}
